.login-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 20vh;
    width: 400px;
}

.login-page__button {
    width: 510px;
    height: 70px;
}   

.text {
    padding-left: 115px;
}

.image_facebook{
    margin-left: 100px;
}