header .logo_shop {
    width: 150px;
    height: 50px;
}

header .logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

.inima {
    width:30px;
    height: 30px;
}

.logo {
    margin-top: 0px !important;
}